*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpactor.json
.phpunit.result.cache
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.composer-cache
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/resources/css/vendor
/resources/js/vendor
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/.claude
